#menu_pop-UP {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    z-index: 2;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    box-shadow: 0 0 10px hsla(0, 0%, 5%, 0.1);
    padding: 24px 0;
    max-width: 480px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

#menu_pop-UP.showMenu {
    top: 0;
    right: 0;
    visibility: visible;
}

#menu_pop-UP #close_menu {
    margin: 0px 0 10px;
    --translate: translate(-41px, 50px);
    transform: var(--translate) rotate(0deg);
    font-size: 24px;
    max-width: fit-content;
    max-height: fit-content;
    cursor: pointer;
    background: var(--background-image);
    background-repeat: repeat;
    background-position: center;
    background-size: 500px 500px;
    filter: invert(1);
    
    padding: 1px 12px 1px 4px;
    border-radius: 16px 0 0 16px;
}

#menu_pop-UP #cancel_menu {
    color: hsl(0, 100%, 50%);
    filter: invert(1);
    animation: close_menu_rotate 3s infinite linear;
}

@keyframes close_menu_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#menu_pop-UP #cancel_menu:active {
    scale: 120%;
}

#menu_pop-UP #btns_holder {
    min-width: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

#menu_pop-UP #btns_holder p {
    width: 100%;
    background: var(--background-image);
    background-repeat: repeat;
    background-position: center;
    background-size: 800px 800px;
    filter: invert(1);
    transition: height 0.3s ease-in-out;
    height: 40px; /* default height */
}

#menu_pop-UP #btns_holder a {
    min-width: 100%;
    height: 100%;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 12px;
}

#menu_pop-UP #btns_holder p:hover {
    height: 70px;
}

#menu_pop-UP #btns_holder p:active {
    height: 70px;
}
 
#menu_pop-UP #btns_holder #show_now-BTN-two {
    background-color: hsl(113, 100%, 36%);
    filter: invert(1);
}

#menu_pop-UP #btns_holder #show_now-BTN-two:active {
    background-color: hsl(113, 100%, 45%);
    filter: invert(1);
}