#cart-icon {
  position: fixed;
  top: 16px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}

#cart-popup,
#payment-modal {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 300px;
  background: hsl(0, 0%, 18%);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgb(0, 0, 0);
  z-index: 1000;
}

.hidden {
  display: none;
}

/* CART */
.cart-header {
  padding: 12px;
  font-weight: bold;
  border-bottom: 1px solid #555;
}

.cart-body {
  /* max-height: 200px; */
  height: fit-content;
  min-height: 80px;
  overflow-y: auto;
  padding: 10px;
}

.cart-body div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cart-footer {
  padding: 10px;
  border-top: 1px solid #555;
}

.cart-footer button {
  width: 100%;
  padding: 8px;
  background: hsl(152, 99%, 32%);
  border: none;
  color: white;
  font-weight: bold;
}

/* PAYMENT */
#payment-modal {
  padding: 15px;
}

.payment-step {
  margin-top: 12px;
}

#payment-modal button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background: hsl(152, 99%, 32%);
  border: none;
  color: white;
  font-weight: bold;
}
