* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: hsl(0, 0%, 15%);
    width: 100vw;
    height: 100vh;
}

#shop_container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /* color: hsl(0, 0%, 0%); */
    color: hsl(0, 0%, 80%);
    width: 100%;
    /* height: 100%; */
    min-height: fit-content;
    padding: 150px 0 0;
}

#shop_container .top_section {
    border-bottom: 2px solid hsl(0, 0%, 80%);
    padding: 12px;
    min-width: 100%;
    position: fixed;
    top: 0;
    background-color: hsl(0, 0%, 10%);
}

#shop_container .top_section #MM_logo_three {
    width: 80px;
}

#shop_container .top_section #MM_text {
    font-size: 28px;
    font-weight: bold;
}

#shop_container #board_section {
    height: 100%;
}

#shop_container #board_section #shoe_container {
    padding: 12px;
    background-color: hsl(0, 0%, 10%);
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: flex-start !important; */
    /* justify-content: center; */
}

@media only screen and (max-width: 768px) {
    #shop_container #board_section #shoe_container {
        justify-content: center;
    }
}

@media only screen and (max-width: 425px) {
    #shop_container #board_section #shoe_container {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 300px) {
    #shop_container #board_section #shoe_container {
        justify-content: center;
    }
}

#shop_container .shoeBoxesElement {
    background-color: hsl(0, 0%, 20%);
    width: fit-content;
    max-width: 130px;
    min-width: 130px;
    max-height: 300px;
    padding: 12px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#shop_container .shoeBoxesElement #shoeIMG-Container {
    width: 100%;
    margin-bottom: 10px;
    max-height: 120px;
    min-height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#shop_container .shoeBoxesElement img {
    /* width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#shop_container .shoeBoxesElement #price {
    font-size: 18px;
    margin: auto 0 10px 0;
}

#shop_container .shoeBoxesElement .buy-BTN {
    font-size: 14px;
    margin: 15px 0 0 auto;
    padding: 8px;
    background-color: hsl(152, 99%, 32%);
    border: none;
    outline: none;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    cursor: pointer;
}

#shop_container .shoeBoxesElement .buy-BTN:hover {
    background-color: hsl(152, 49%, 47%);
}

#shop_container .shoeBoxesElement .buy-BTN:active {
    scale: 110%;
}
